# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/
*.out

# Spring Boot
target/
!src/main/resources/
!src/test/resources/
*.iml
*.iws

# Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle-wrapper.jar
.gradle-cache/
gradle-app.setting
.gradle-build-config/

# IDEs and Tools
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.project
.classpath
.settings/
.springBeans

### VS Code ###
.vscode/

# OS Files
.DS_Store
Thumbs.db

# User-Specific Files
*.env
# *.properties
.env.local
.env.*.local
secrets/
